@charset "utf-8";

/***** title *****/
.title .title-img {
  background: url(./images/title-img.png) no-repeat 50% 50% / cover;
}

/***** style *****/
/*** font ***/
.style .box1 {
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}
.style .box1 .ass-title1 {
  font-size: var(--font-size26);
  margin: 2rem 0;
}
.style .box1 .box-wrapper ul {
  font-size: var(--font-size22);
  margin-right: 6rem;
}
.style .box1 .box-wrapper ul li {
  margin-bottom: 1rem;
}
.style .box1 .box-wrapper ul .bold {
  font-weight: 700;
}
.style .box1 .box-wrapper ul .medium {
  font-weight: 500;
}
/*** color ***/
.style .box-wrapper {
  margin-top: 2rem;
}
.style .box-wrapper .box-inner2 {
  margin-left: 4rem;
}
.style .box-wrapper .ass-title2 {
  font-size: var(--font-size26);
}
.color {
  width: 6.25rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-top: 2rem;
  font-size: var(--font-size16);
  text-align: center;
  margin-right: 1rem;
}
.color1 {
  background-color: #58cc02;
}
.color2 {
  background-color: #2323a5;
}
.color3 {
  background-color: #fff;
  color: #000;
}
.color4 {
  background-color: #f0f0f0;
  color: #000;
}
.color5 {
  background-color: #242424;
}
.color6 {
  background-color: #171717;
}

/***** publishing *****/
.publishing {
  min-width: 1400px;
  max-width: 1920px;
}
.publishing .box-inner {
  flex-direction: column;
  align-items: flex-start;
  list-style: disc;
}
.accent {
  background-color: var(--gray-color);
}
.blank {
  margin: 10px 0;
}

/***** problem *****/
.problem {
  min-width: 1400px;
  max-width: 1920px;
}
h6.sub-title {
  background-color: var(--gray-color);
  font-size: var(--font-size22);
  font-weight: 700;
  text-align: center;
  margin-top: 5rem;
}
.bg1 {
  width: 16rem;
  height: 3.8rem;
  line-height: 3.8rem;
}
.bg2 {
  width: 18rem;
  height: 3.8rem;
  line-height: 3.8rem;
}
.bg3 {
  width: 18rem;
  height: 3.8rem;
  line-height: 3.8rem;
}
.bg4 {
  width: 19rem;
  height: 3.8rem;
  line-height: 3.8rem;
}
.bg5 {
  width: 19rem;
  height: 3.8rem;
  line-height: 3.8rem;
}
