@charset "utf-8";

/* 변수 설정 */
:root {
  --main-font: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  --point-color1: #58cc02;
  --point-color2: #2323a5;
  --gray-color1: #9f9f9f;
  --gray-color2: #c9c9c9;
  --gray-color3: #f0f0f0;
  --title-color: #171717;
  --text-color: #242424;

  --font-size13: 0.813rem;
  --font-size14: 0.875rem;
  --font-size16: 1rem;
  --font-size18: 1.125rem;
  --font-size26: 1.625rem;
  --font-size30: 1.875rem;
}

.flex {
  display: flex;
}

/* 스크롤바 */
html {
  scroll-behavior: smooth;
}

/* 위로버튼 */
.upTo {
  position: fixed;
  right: 10px;
  bottom: 20px;
  background: url(./images/right.svg) no-repeat 100% / 80%;
  width: 50px;
  height: 50px;
  text-indent: -999px;
  overflow: hidden;
  opacity: 0.5;
  z-index: 99;
  transform: rotate(-90deg);
}

.upTo:hover {
  opacity: 1;
  bottom: 22px;
}

body {
  font-family: var(--main-font);
  word-break: break-all;
  overflow-wrap: break-word;
}

/***** header *****/
header {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
}

header .header-fix {
  display: none;
}

header .header-wrapper {
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}

header .header-wrapper h1 {
  width: 100px;
  margin-right: 0;
}

header .header-wrapper .header-nav {
  display: none;
}

header .header-wrapper .hamburger {
  background: url(./images/hamburger.svg);
  text-indent: -999px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  z-index: 99;
  align-items: center;
}

/***** contents *****/
/***** main *****/

.main {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .text {
  font-size: var(--font-size18);
  color: #000;
  font-weight: 600;
  text-align: center;
  margin: 120px 0 30px 0;
  letter-spacing: -0.3px;
}
.main h2 {
  font-size: var(--font-size30);
  font-weight: bold;
  line-height: 1.34;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
  letter-spacing: -0.5px;
}

.main .main-imgBox {
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.main .main-imgBox:nth-child(1) {
  display: none;
}

.main .main-imgBox:nth-child(5) {
  display: none;
}

/***** section1 *****/

.box1 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease;
}

.box1 .box1-textBox {
  width: 100%;
  justify-content: flex-end;
  flex-direction: column;
  transition: 0.7s ease;
  transition-delay: 1.6s;
  margin-left: 40px;
}

.box1 .box1-textBox h5 {
  font-size: var(--font-size16);
  font-weight: 600;
  letter-spacing: -0.3px;
  text-align: left;
  color: var(--point-color1);
  margin-bottom: 20px;
}
.box1 .box1-textBox span {
  font-size: var(--font-size16);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: var(--text-color);
  word-break: keep-all;
}

.box1 .box1-textBox h6 {
  font-size: var(--font-size16);
  font-weight: 600;
  letter-spacing: -0.3px;
  text-align: left;
  color: var(--point-color1);
  margin: 50px 0 20px 0;
}

.box1 .box1-textBox strong {
  word-break: keep-all;
  font-size: var(--font-size13);
  color: var(--gray-color1);
  text-align: left;
  font-weight: normal;
  letter-spacing: -0.21px;
  line-height: 22px;
  margin-top: 17px;
}

.white-btn {
  margin: 80px 0 180px 200px;
  transition: 0.3s ease, right 0.5s ease 0.9s, opacity 0.5s ease 0.9s;
}

.box1 .box1-imgBox {
  display: none;
}

/***** banner1 *****/
.banner1 {
  background-image: url(./images/children.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 160px;
  text-indent: -999px;
}

/***** section2 *****/

/***** banner2 *****/
.banner2 {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px 0;
}
.banner2 .banner2-box {
}

.banner2 .banner2-box img {
  width: 100px;
}

.banner2 .banner2-imgBox {
  margin-left: 20px;
}

.banner2 .banner2-imgBox h3 {
  font-size: var(--font-size26);
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0;
  width: 100%;
}

.banner2 .banner2-imgBox img {
  width: 100px;
}

.banner2 .banner2-imgBox a:nth-child(3) img {
  margin-left: 20px;
}

/***** section3 *****/

/***** section4 *****/

/***** section5 *****/
.content {
  background: rgba(1, 0, 0, 0.5) url(./images/4p.png);
  background-size: cover;
  height: 580px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content h3 {
  text-align: center;
  color: #fff;
}
