@charset "utf-8";

/* 변수 선언 */
@import url(./variable.css);

/* common */
@import url(./common.css);

/* 스크롤바 */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--point-color1);
  border-radius: 4px;
}

/***** header *****/
header .header-wrapper h1 {
  width: 120px;
}

.main .text {
  font-size: var(--font-size20);
}

.main h2 {
  font-size: var(--font-size43);
}

.green-btn {
  font-size: var(--font-size16);
}

/***** contents *****/
/***** main *****/
.main .main-imgBox {
  margin-bottom: 100px;
}

.main .main-imgBox img:nth-child(3) {
  padding: 0 50px;
}

.main .main-imgBox img:nth-child(2) {
  transform: translate(0 0);
  transform: scaleY(100%);
}

.main .main-imgBox img:nth-child(4) {
  transform: translate(0 30);
  transform: scaleY(100%);
}

/***** section1 *****/
.box1 .gray-text {
  font-size: var(--font-size20);
  margin-left: 130px;
}

.box1 h3 {
  font-size: var(--font-size46);
  margin-left: 130px;
}

.box1 .box1-textBox h5 {
  font-size: var(--font-size20);
}

.box1 .box1-textBox span {
  font-size: var(--font-size20);
  width: 100%;
}

.box1 .box1-textBox h6 {
  font-size: var(--font-size20);
}

.box1 .box1-textBox strong {
  font-size: var(--font-size16);
}

.box1-textBox {
  margin-left: 100px;
}

.box1 .white-btn {
  margin-left: 330px;
}

/***** banner1 *****/
.banner1 {
  height: 382px;
  background-position: 72%;
}

.guide .bg-box img {
  /* width: 100%; */
}

/***** section2 *****/
.guide .guide-txt1 h3 {
  font-size: var(--font-size46);
}

.guide .guide-txt1 p {
  font-size: var(--font-size20);
}

.guide .guide-txt2 h3 {
  font-size: var(--font-size46);
}

.guide .guide-txt2 p {
  font-size: var(--font-size20);
}

.guide .big-box {
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
}

.h-img {
  height: 26.008vw;
}

.guide .big-box div:nth-child(4) {
  display: block;
}

/***** banner2 *****/
.banner2 .banner2-box img {
  width: 240px;
}

.banner2 .banner2-imgBox h3 {
  font-size: var(--font-size43);
  margin-bottom: 60px;
}

.banner2 .banner2-imgBox {
  margin-right: 40px;
}

.banner2 .banner2-imgBox img {
  width: 192px;
}

/***** section3 *****/
.research-box {
  width: 688px;
}
.research .research-box h4 {
  font-size: var(--font-size26);
}

.research .research-box .research-textBox3 .black-text {
  font-size: var(--font-size42);
}

.research .research-box .research-textBox3 .blue-text {
  font-size: var(--font-size42);
}

.research .research-box .research-textBox3 .gray-text1 {
  font-size: var(--font-size18);
  text-align: center;
}

.research .research-box .research-textBox3 .textBox3-under {
  margin-left: 20px;
  margin-bottom: 20px;
}

.research .research-box .research-textBox3 .btnBox {
  font-size: var(--font-size24);
  width: 624px;
  height: 125px;
}

.research .research-box .research-textBox3 .btnBox .btnBox-br {
  display: none;
}

/***** section4 *****/
.flag span {
  font-size: var(--font-size20);
  margin: 150px 0 30px 0;
  line-height: 0;
}

.flag h4 {
  font-size: var(--font-size50);
  margin-bottom: 104px;
  line-height: 1.4;
}

.flag .flag-inner {
  margin-bottom: 142px;
}

.flag .flag-inner .flag-wrap {
  height: 130px;
}

.flag .flag-inner .flag-wrap .flag-box .flag-img img {
  margin-right: 60px;
  height: 126px;
}

/***** section5 *****/
.content {
  height: 800px;
}

.content h4 {
  font-size: var(--font-size48);
}

.content .green-btn {
  font-size: var(--font-size16);
  width: 140px;
  height: 44px;
  line-height: 44px;
  border-radius: 26px;
}

/***** footer *****/
.f-box .f-tb {
  transform: translateX(300%);
}
/*** f-text ***/
.f-box .f-txt li a {
  font-size: var(--font-size16);
}
.f-box .f-txt li .f-line::before {
  height: 10px;
}
.f-box .f-txt li .f-line::after {
  height: 10px;
}
/*** f-logo ***/
.f-box h2 {
  width: 120px;
}
