@charset "UTF-8";

@import url(./assets/style/variable.css);

.btn {
  display: flex;
  align-items: center;
}
/*----- main ------*/
main {
  font-family: var(--ko-font);
}

/*--- main 첫 번째 섹션(곰돌이 얼굴 움직이는 page) ---*/
main .welcome {
  height: 830px;
  line-height: 75px;
  padding: 0 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 100px;
}
main .welcome .teddy_img {
  z-index: 9;
}
main .welcome .container .ear1,
main .welcome .container .face,
main .welcome .container .ear2 {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 99;
  transition: transform 3s ease-in-out;
}
main .welcome .container .ear1 {
  top: 25%;
  left: 38%;
  transform: translate(-200%, -200%);
}
main .welcome .container .face {
  top: 50%;
  left: 50%;
  transform: translate(-200%, 100%);
}
main .welcome .container .ear2 {
  top: 25%;
  left: 62%;
  z-index: -99;
  transform: translate(100%, -300%);
}
main .welcome .container .ear1.move,
main .welcome .container .face.move,
main .welcome .container .ear2.move {
  transform: translate(-50%, -50%) rotate(360deg);
}
main .welcome .container .ear1 {
  width: 174px;
  height: 160px;
}
main .welcome .container .face {
  width: 532px;
  height: 467px;
}
main .welcome .container .ear2 {
  width: 174px;
  height: 160px;
}
main .welcome .container .welcome_txt {
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .welcome .container .welcome_txt h2 {
  text-align: center;
}
main .welcome .deco {
  width: 100px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

/*--- main main 두 번째 섹션(About 페이지) ---*/
main .about {
  padding-top: 300px;
  height: 860px;
  position: relative;
}
main .about > p {
  text-align: center;
  font-size: 54px;
  line-height: 115%;
}

main .about .keep {
  width: 100px;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
}

/*--- main 세 번째 섹션(assets 페이지) ---*/
main .location {
  margin-top: 340px;
  height: 1200px;
  font-family: var(--ko-font);
  overflow: hidden;
}
main .location .txt p {
  margin: 0 0 50px 180px;
  font-family: var(--ko-font);
  font-size: var(--size-font22);
}
main .location .location_theme {
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}
main .location .location_theme svg path {
  transition: 1s;
}
main .location .location_theme .title2 {
  font-size: 86px;
  font-weight: normal;
  text-align: left;
}
main .location .location_theme .location_txt p:nth-child(1) {
  font-family: var(--ko-font);
  font-size: 21px;
}
main .location .location_theme .location_txt p:nth-child(2) {
  font-family: var(--en-font);
  font-size: 21px;
  margin-top: 22px;
  padding-left: 10px;
  font-weight: 900;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  height: 46px;
}

main .location .location_theme .location_txt p:nth-child(2):before {
  content: '';
  background-color: var(--color-pink);
  width: 5px;
  height: 33px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease-in-out;
}
main .location .location_theme .location_txt p:nth-child(2):hover:before {
  width: 180px;
}

main .location .location_theme .location_txt p a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
}
/*--- swiper ---*/
main .location .mySwiper {
  height: 70vh;
  overflow: hidden;
}
main .location .mySwiper .swiper-wrapper {
  width: 400%;
}
main .location .mySwiper .swiper-wrapper .swiper-slide {
  width: 100%;
}
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 20px;
}
/*- swiper-img -*/
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img1,
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img2,
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img3,
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img4 {
  width: 950px;
  height: 550px;
}
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img1 {
  background: url(./images/slide1.png) no-repeat;
}
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img2 {
  background: url(./images/slide2.png) no-repeat;
}
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img3 {
  background: url(./images/slide3.png) no-repeat;
}
main .mySwiper .swiper-wrapper .swiper-slide .swiper_box .swiper_img4 {
  background: url(./images/slide4.png) no-repeat;
}
main .location .mySwiper .swiper-wrapper .swiper-slide .swiper_txt {
  padding-top: 30px;
}
main
  .location
  .mySwiper
  .swiper-wrapper
  .swiper-slide
  .swiper_txt
  p:nth-child(1) {
  font-family: var(--ko-font);
  font-size: 33px;
}
main
  .location
  .mySwiper
  .swiper-wrapper
  .swiper-slide
  .swiper_txt
  p:nth-child(2) {
  margin-top: 15px;
  font-family: var(--ko-font);
  font-size: 21px;
}

/*--- main 네 번째 섹션(장식 페이지) ---*/
/* :c 이중스크롤 css 수정입니다 */
main .animation {
  position: relative;
}
main .zookeeper_wrapper {
  height: 2000px;
  position: sticky;
  top: 80px;
}
main .animation .zookeeper {
  height: 100vh;
  background-color: #f0f0f0;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
main .animation .scroll_bar {
  position: absolute;
  top: 350px;
  right: 20px;
  background-color: #fff;
  width: 5px;
  height: 30vh;
  z-index: 9999;
  transition: 0.000001s;
  overflow: hidden;
}
main .animation .scroll_bar .scroll_bar_black {
  position: absolute;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #000;
  transition: 0.1s;
}
main .animation .zookeeper h2 {
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .animation .zookeeper p {
  font-family: var(--ko-font);
  font-size: 21px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .animation .where_wrapper {
  height: 2000px;
}
main .animation .where {
  position: sticky;
  top: 80px;
  height: 100vh;
  text-align: center;
  background-color: #ffad99;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
main .animation .where svg path {
  transition: 1s;
}
main .animation .where svg:nth-child(1) {
  position: absolute;
  top: 524px;
  left: 131px;
}
main .animation .where svg:nth-child(2) {
  position: absolute;
  top: 51px;
  right: 150px;
}
main .animation .where > p {
  font-family: var(--ko-font);
  font-size: 48px;
  line-height: 115%;
  opacity: 0;
  transition: 1s;
}

main .animation .where a {
  position: absolute;
  left: 43%;
  bottom: 1%;
  transform: translate(-50%, -50%);
}

main .animation .where .button--nina.button--nina {
  background: var(--color-gray);
  color: var(--color-pink);
}
main .animation .where .button--nina:hover {
  background: var(--color-white);
}

main .animation .where .where-ani {
  width: 1200px;
  height: 400px;
  background: url(./images/where-ani.gif) no-repeat 50% /70%;
  margin: 0 auto;
}
/*--- main 다섯 번째 섹션(Teddy Bear 페이지) ---*/
main .bigfont {
  width: 100%;
  height: 4000px;
  padding: 209px 0;
  text-align: center;
}
main .bigfont .bigfont_wrapper {
  position: sticky;
  top: 20%;
}
main .bigfont .img_box {
  position: relative;
  z-index: 999;
}
main .bigfont .img_box .circle {
  position: absolute;
  top: -45px;
  left: 813px;
}
main .bigfont .img_box .circle path {
  transition: 1s;
}
main .bigfont img {
  width: 279px;
  height: 87px;
}
main .bigfont .img_box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  font-family: var(--ko-font);
  font-size: 24px;
}
main .bigfont .teddy_wrapper {
  margin-top: 92px;
  position: relative;
  display: inline-block;
  font-family: var(--en-font);
  white-space: nowrap;
}
main .bigfont .teddy {
  font-size: 260px;
  text-align: center;
  opacity: 0.4;
  display: inline-block;
  position: relative;
}
main .bigfont .teddy_wrapper .teddy_dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  font-size: 260px;
  text-align: center;
  transition: 0.1s;
  color: #000;
}
/* main .bigfont .teddy_wrapper:hover .teddy_dark {
  width: 100%;
} */
/* main 여섯 번째 섹션(스케줄 페이지) */
main .schedule {
  height: 910px;
}
main .schedule .txt {
  text-align: center;
}
main .schedule .txt p {
  margin-top: 60px;
  margin-bottom: 47px;
  font-family: var(--ko-font);
  font-size: 21px;
}
main .schedule .wrapper {
  flex-direction: row;
  justify-content: space-around;
}
main .schedule .wrapper img {
  width: 460px;
  height: 320px;
}
main .schedule .wrapper .img_box {
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
main .schedule .wrapper .img_box .box_txt {
  height: 100%;
  padding-left: 21px;
}
main .schedule .wrapper .img_box p:nth-child(1) {
  margin-top: 30px;
  font-family: var(--ko-font);
  font-size: var(--size-font24);
}
main .schedule .wrapper .img_box p:nth-child(2) {
  margin-top: 15px;
  margin-bottom: 26px;
  font-family: var(--ko-font);
  font-size: 21px;
}
main .schedule .button--nina {
  margin-top: 240px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}
