@charset "utf-8";

/* 변수 선언 */
@import url(./variable.css);

/* common */
@import url(./common.css);

body {
  font-family: var(--ko-font);
  color: #fff;
  text-align: center;
  font-size: var(--font-size22);
  line-height: 40px;
  background: url(./images/bg.png);
  /*overflow: visible;*/
  overscroll-behavior: none;
  height: 800vh;
  position: relative;
}
/***** header *****/
header {
  position: sticky;
  top: 0;
  /* z-index: 9999; */
}

/***** section *****/
section {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2.5px solid #fff;
  width: 38vw;
  height: 30vh;
  position: sticky;
  top: 0;
  left: 31%;
  margin-top: 30vw;
}
/*** point text ***/
h6 {
  color: var(--point-color);
  font-size: var(--font-size32);
  margin: 2vw 0;
}

/*** text box ***/
.b-p {
  color: var(--point-color);
}
