@charset "utf-8";

/* 스크롤바 */
::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/***** header *****/
header {
  width: 100%;
}
header .h-box {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 24px 32px;
  position: static;
  height: 140px;
}
header .h-box .h-menu {
  font-family: var(--en-font);
  font-size: var(--font-size14);
}
header .h-box .h-menu a {
  color: #fff;
  margin-left: 6rem;
}
header .h-box .h-menu .c-g {
  color: var(--point-color);
}
header .h-box .h-menu .g-g:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.6);
}
header .h-box .h-menu .c-g:hover {
  text-decoration: underline;
}

/*** third line sns ***/
.sns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 1.6vw;
}
.sns img {
  width: 55px;
  height: 55px;
  transform: translateY(20%);
}
.sns a {
  width: 80px;
  height: 80px;
  display: block;
  border: 1px solid #fff;
  border-radius: 20px;
  text-align: center;
}
.sns a .s-i {
  height: 50px;
  width: 50px;
  transform: translateY(30%);
}

.sns a:hover {
  transform: scale(1.1);
  transition: transform 3s;
  filter: brightness(50%);
  border-radius: 10px;
}
