@charset "utf-8";
/* 스크롤바 */
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000;
  background-image: url(./images/main-bg.svg);
  background-position: 0 0;
  background-size: auto;
  overflow: visible;
  overscroll-behavior: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/*** third line sns ***/
.sns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 1.6vw;
  margin: 1.2vw 14vw 2.2vw 0;
}
.sns img {
  width: 55px;
  height: 55px;
  transform: translateY(20%);
}
.sns a {
  width: 80px;
  height: 80px;
  display: block;
  border: 1px solid #fff;
  border-radius: 20px;
  text-align: center;
}
.sns a .s-i {
  height: 50px;
  width: 50px;
  transform: translateY(30%);
}

.sns a:hover {
  transform: scale(1.1);
  transition: transform 3s;
  filter: brightness(50%);
  border-radius: 10px;
}
