@charset "utf-8";

/***** body *****/
body {
  background-color: #000;
  background-image: url(./images/main-bg.svg);
  background-position: 0 0;
  background-size: auto;
}

/***** header *****/
header .h-box {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  position: static;
  height: 120px;
}
/*** logo ***/
header .h-box .logo img {
  height: 72px;
}
/*** menu ***/
header .h-box .menu {
  font-family: var(--en-font);
  font-size: var(--font-size16);
  color: #fff;
}
header .h-box .menu .project {
  color: var(--point-color);
  margin-right: 1.5rem;
}

/***** title *****/
section .title {
  margin: 0 auto;
  padding: 1.5rem 2rem;
  color: #fff;
  font-family: var(--main-font);
  font-size: var(--font-size64);
  flex-direction: column;
  align-items: flex-start;
}
/*** second line ***/
section .title .box2 {
  margin: 1rem 0;
  color: var(--point-color);
}
/*** third line ***/
section .title .box3 {
  flex-direction: column;
}
section .title .box3-1 {
  margin: 1rem 0;
}
/*** third line sns ***/
.sns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 0.6rem;
}
.sns img {
  width: 40px;
  height: 40px;
  transform: translateY(32%);
}
.sns a {
  width: 68px;
  height: 68px;
  display: block;
  border: 2.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  text-align: center;
}
.sns a .s-i {
  height: 36px;
  width: 36px;
  transform: translateY(40%);
}
/*** fourth line ***/
section .title .box4 {
  flex-direction: column-reverse;
}
section .title .box4 .t-box {
  font-size: var(--font-size16);
  font-family: var(--en-font);
  line-height: 1.4;
  gap: 0.6rem;
  margin: 1.2rem 0;
}
/*** arrow ***/
section .title .box5 {
  position: absolute;
  top: 60vh;
  bottom: 0%;
  left: 0%;
  right: 0%;
  text-align: center;
  animation: down 1s linear 0s infinite;
}
section .title .box5 strong {
  font-size: var(--font-size114);
  color: var(--point-color);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/***** main *****/
main {
  margin: 10rem auto 5rem;
}
main .m-wrapper {
  grid-template-columns: 1fr;
  gap: 1.4rem;
  justify-items: center;
}
/*** images ***/
main .m-wrapper .m-inner {
  width: 92vw;
  height: 136vw;
  outline: 3px solid rgba(255, 255, 255, 0.6);
  border: 3px solid #000;
  transition: all 0.1s linear;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  position: relative;
}
main .m-wrapper .m-box {
  display: block;
  width: 92vw;
  height: 136vw;
}
main .m-wrapper .m-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: var(--en-font);
  font-size: var(--font-size24);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  outline: 1px solid rgba(255, 255, 255, 0.3);
  text-align: right;
  padding: 0.7rem;
}
main .m-wrapper .m-box .m-text .m-g {
  color: var(--point-color);
  font-size: var(--font-size16);
  margin-top: 0.7rem;
}
main .m-wrapper .m-k {
  font-family: var(--ko-font);
}
main .m-wrapper .m-inner:hover {
  transform: scale(1.01);
  background-blend-mode: normal;
}
.m-2 {
  background: url(./images/m2.png) no-repeat center / cover;
}
.m-3 {
  background: url(./images/m3.png) no-repeat center / cover;
}
.m-4 {
  background: url(./images/m4.png) no-repeat center / cover;
}
.m-5 {
  background: url(./images/m5.png) no-repeat center / cover;
}
.m-6 {
  background: url(./images/m6.png) no-repeat center / cover;
}

/***** footer *****/
footer {
  font-size: var(--font-size64);
  color: #fff;
  font-family: var(--main-font);
  height: 50vh;
  padding: 1.5rem 2rem;
}
/*** first line ***/
footer .f-box .f-1 {
  flex-direction: column-reverse;
}
footer .f-box .f-1 .f-line {
  margin: 1.6rem 0;
}
/*** second line ***/
/*** third line ***/
footer .f-box .f-3 {
  flex-direction: column;
}
footer .f-box .f-3 .f-g {
  display: inline-block;
  color: var(--point-color);
  animation: right-left 4s linear 0s infinite;
  transition: top 0.2s ease;
  margin: 1.6rem 0;
}
/*** fourth line ***/
footer .f-box .f-3 .f-line2 {
  transform: translateX(52%);
}

/*** copy line ***/
footer .f-box .f-4 {
  font-size: var(--font-size16);
  color: var(--gray-color);
  font-family: var(--en-font);
  text-align: center;
  margin-top: 6rem;
}
