@charset "utf-8";

/* 변수 선언 */
@import url(./variable.css);

/* common */
@import url(./common.css);

body {
  background-color: #000;
  background-image: url(./images/main-bg.svg);
  background-position: 0 0;
  background-size: auto;
  overflow: visible;
  overscroll-behavior: none;
}

/***** title *****/
section {
  width: 100%;
}
section .title {
  width: 100%;
  margin: 0 auto;
  padding: 0 32px 24px 32px;
  color: #fff;
  font-family: var(--main-font);
  font-size: var(--font-size150);
  flex-direction: column;
  align-items: flex-start;
}
/*** first line ***/
/*** second line ***/
section .title .box2 {
  margin: 1.8vw 0 1.8vw 8.8vw;
  color: var(--point-color);
}
/*** third line ***/
section .title .box3-1 {
  margin-left: 10vw;
}
/*** fourth line ***/
section .title .box4 .t-box {
  font-size: var(--font-size14);
  font-family: var(--en-font);
  line-height: 1.3;
  gap: 6vw;
  margin: 1vw 50vw 0 0;
}
/*** arrow ***/
section .title .box5 {
  position: absolute;
  top: 90vh;
  bottom: 0%;
  left: 0%;
  right: 0%;
  text-align: center;
  animation: down 2s linear 0s infinite;
}
section .title .box5 strong {
  font-size: var(--font-size114);
  color: var(--point-color);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/***** main *****/
main {
  margin-top: 22vw;
  width: 100%;
  height: 100%;
  padding: 0 32px;
}
main .m-wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
/*** images ***/
main .m-wrapper .m-1 {
  width: 31.5vw;
  height: 45.7vw;
  background: url() no-repeat center / cover;
  outline: 3px solid rgba(255, 255, 255, 0.6);
  border: 3px solid #000;
  transition: all 0.1s linear;
}
main .m-wrapper .m-2 {
  width: 31.5vw;
  height: 45.7vw;
  outline: 3px solid rgba(255, 255, 255, 0.6);
  border: 3px solid #000;
  transition: all 0.1s linear;
  background: url(./images/m2.png) no-repeat center / cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}
main .m-wrapper .m-3 {
  width: 31.5vw;
  height: 45.7vw;
  outline: 3px solid rgba(255, 255, 255, 0.6);
  border: 3px solid #000;
  transition: all 0.1s linear;
  background: url(./images/m3.png) no-repeat center / cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}
main .m-wrapper .m-4 {
  width: 31.5vw;
  height: 45.7vw;
  outline: 3px solid rgba(255, 255, 255, 0.6);
  border: 3px solid #000;
  transition: all 0.1s linear;
  background: url(./images/m4.png) no-repeat center / cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}
main .m-wrapper .m-5 {
  width: 31.5vw;
  height: 45.7vw;
  outline: 3px solid rgba(255, 255, 255, 0.6);
  border: 3px solid #000;
  transition: all 0.1s linear;
  background: url(./images/m5.png) no-repeat center / cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}
main .m-wrapper .m-6 {
  width: 31.5vw;
  height: 45.7vw;
  background: url() no-repeat center / cover;
  outline: 3px solid rgba(255, 255, 255, 0.6);
  border: 3px solid #000;
  transition: all 0.1s linear;
}
/*** text ***/
main .m-wrapper .m-t-box {
  font-family: var(--en-font);
  font-size: var(--font-size32);
  color: #fff;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  outline: 1px solid rgba(255, 255, 255, 0.3);
  text-align: right;
  width: 41%;
  height: 8vh;
  transform: translate(137%, 13%);
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.3vw;
}
main .m-wrapper .m-t-box .m-g {
  color: var(--point-color);
  font-size: var(--font-size22);
  margin-top: 0.6vw;
}
main .m-wrapper .m-k {
  font-family: var(--ko-font);
}
main .m-wrapper .m-t-box a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}
main .m-wrapper .m-1:hover {
  transform: scale(1.01);
  background-blend-mode: normal;
}
main .m-wrapper .m-2:hover {
  transform: scale(1.01);
  background-blend-mode: normal;
}
main .m-wrapper .m-3:hover {
  transform: scale(1.01);
  background-blend-mode: normal;
}
main .m-wrapper .m-4:hover {
  transform: scale(1.01);
  background-blend-mode: normal;
}
main .m-wrapper .m-5:hover {
  transform: scale(1.01);
  background-blend-mode: normal;
}
main .m-wrapper .m-6:hover {
  transform: scale(1.01);
  background-blend-mode: normal;
}

/***** footer *****/
footer {
  width: 100%;
  height: 500px;
  padding: 0 32px;
  font-size: var(--font-size150);
  color: #fff;
  font-family: var(--main-font);
  margin-top: 5vw;
}
/*** first line ***/
footer .f-1 h1 {
  margin-right: 4vw;
}
/*** second line ***/
footer .f-2 {
  margin: 1vw 0 2vw 26.2vw;
}
/*** third line ***/
footer .f-3 {
  justify-content: flex-end;
}
footer .f-3 .f-g {
  color: var(--point-color);
  margin-right: 8vw;
  animation: right 4s linear 0s infinite;
}
/*** fourth line ***/
footer .f-4 {
  font-size: var(--font-size14);
  color: var(--gray-color);
  font-family: var(--en-font);
  text-align: center;
  margin-top: 4.7vw;
}
