@charset "utf-8";

/* 변수 선언 */
@import url(../common/style/variable.css);

body {
  background-color: #000;
  font-family: "NotoSansKR", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  color: #fff;
  line-height: 2;
}

span {
  display: block;
}
/***** title *****/
.title {
  width: 100%;
}
.title .title-wrapper {
  font-size: var(--font-size120);
  color: var(--point-color);
  font-family: var(--ko-font);
  padding: 2rem;
}
.title .title-img {
  width: 96%;
  height: 754px;
  outline: 5px solid #fff;
  background: url(./images/main-title.png) no-repeat 50% 50% / cover;
  padding: 0 4%;
  margin: 0 auto;
  min-width: 1400px;
  max-width: 1920px;
}
.title .title-img img {
  width: 1836px;
  height: 754px;
}
.title .intro {
  font-size: var(--font-size22);
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 6.25rem auto;
  min-width: 1400px;
  max-width: 1920px;
}
.title .intro .intro-text {
  width: 38vw;
  font-size: var(--font-size26);
}
.title .intro .intro-list1 {
  color: #696969;
  font-weight: 700;
}
.title .intro .intro-list2 {
  margin-left: -200px;
}
.line::before {
  display: inline-block;
  content: "";
  height: 1rem;
  width: 0.1rem;
  background-color: #fff;
  margin: 0 1rem;
}

/***** main-common *****/
main {
  width: 70%;
  margin: 100px auto 200px;
}
/*** wt-title ***/
h3.wt-title {
  font-family: var(--ko-font);
  font-size: var(--font-size80);
  margin-top: 12.5rem;
}
/*** sub-title ***/
h4.sub-title {
  width: 8.75rem;
  height: 3.125rem;
  line-height: 3.125rem;
  background-color: var(--gray-color);
  font-size: var(--font-size24);
  font-weight: 700;
  text-align: center;
  margin-top: 5rem;
}
/*** sub-text ***/
.sub-text {
  font-size: var(--font-size22);
  margin-top: 2rem;
}

/***** 프로젝트 소개 *****/
.intro {
  min-width: 1400px;
  max-width: 1920px;
}
.intro .box2 .sub-title {
  width: 12rem;
}

/***** 진행 과정 *****/
.course {
  min-width: 1400px;
  max-width: 1920px;
}
.course .course-text {
  list-style: decimal;
  margin-left: 25px;
}

/***** 데스크 리서치 *****/
.research {
  min-width: 1400px;
  max-width: 1920px;
}
.research .box1,
.research .box3 {
  margin-right: 180px;
}
.research .box1 {
  padding-right: 50px;
}
.research .research-wrapper .box2 .sub-title,
.research .research-wrapper .box3 .sub-title {
  width: 11rem;
}
.research .research-wrapper .box4 .sub-text {
  list-style: disc;
  margin-left: 25px;
}

/***** 기존 어플 문제점 *****/
.problem {
  min-width: 1400px;
  max-width: 1920px;
  position: relative;
  overflow: hidden;
  height: 1100px;
}
.problem .problem-img {
  width: 294px;
  height: 620px;
  background: url(./images/problem-img.png) no-repeat;
  position: absolute;
  top: 400px;
  left: 330px;
}
.problem .box1 .sub-title {
  width: 12rem;
  background-color: #1788e4;
}
.problem .box2 .sub-title {
  background-color: #1788e4;
}
.problem .box3 .sub-title {
  width: 12rem;
  background-color: #1788e4;
}
.problem .box1 {
  position: absolute;
  top: 500px;
}
.problem .box2 {
  position: absolute;
  top: 360px;
  left: 700px;
}
.problem .box3 {
  position: absolute;
  top: 700px;
  left: 700px;
}

/***** UX 비전 *****/
.uxv {
  min-width: 1400px;
  max-width: 1920px;
}
.uxv .sub-text {
  font-size: var(--font-size24);
}
.uxv .uxv-text .sub-text {
  font-size: var(--font-size22);
  margin-top: 80px;
}
.uxv .uxv-text .asIs,
.uxv .uxv-text .toBe {
  flex-direction: column;
}
.uxv .uxv-text .asIs li,
.uxv .uxv-text .toBe li {
  margin-bottom: 30px;
}
.uxv .uxv-text .arrow {
  font-family: var(--main-font);
  font-size: var(--font-size80);
  color: var(--point-color);
  margin: 110px 180px 0 180px;
}
.uxv .uxv-text .asIs .gray {
  color: #696969;
}
.uxv .uxv-text .asIs .space {
  padding-bottom: 48px;
}
.uxv .uxv-text .toBe .blue {
  color: #1788e4;
}
.gray-bg {
  background-color: rgba(255, 255, 255, 0.1);
}
.uxv .uxv-text .toBe .sub-text .bg1 {
  width: 200px;
  height: 30px;
}
.uxv .uxv-text .toBe .sub-text .bg2 {
  width: 480px;
  height: 100px;
}
.uxv .uxv-text .toBe .sub-text .bg3 {
  width: 410px;
  height: 30px;
}

/***** 정보구조도 *****/
.structure {
  min-width: 1400px;
  max-width: 1920px;
}
.structure .sub-text {
  font-size: var(--font-size24);
}
.structure .structure-img {
  width: 994px;
  height: 340px;
  background: url(./images/structure-img.png) no-repeat;
  margin: 100px 0 140px 0;
}

/***** 스타일 가이드 *****/
.style {
  min-width: 1400px;
  max-width: 1920px;
}
.style .logo-img {
  width: 518px;
  height: 144px;
  background: url(./images/logo-img.png) no-repeat;
  margin: 60px 0 80px 0;
}
.style .characterBox {
  align-items: center;
}
.style .characterBox .character-img {
  width: 74px;
  height: 111px;
  background: url(./images/character.png) no-repeat;
  margin-top: 30px;
  margin-right: 80px;
}
.style .box3 .colorBox {
  margin-right: 100px;
}
.style .box3 .box-wrapper .ass-title2 {
  font-size: var(--font-size26);
}
.color {
  width: 6.25rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: var(--font-size16);
  text-align: center;
  margin-right: 2rem;
}
.color1 {
  background-color: #03c75a;
}
.color2 {
  background-color: #0782e8;
}
.color3 {
  background-color: #fff;
  color: #000;
}
.color4 {
  background-color: #dad9d9;
  color: #000;
}
.color5 {
  background-color: #000;
  border: 1px solid #fff;
}
.ass-title2 {
  margin: 30px 0;
}
.fontBox li .medium {
  font-weight: 500;
}
.fontBox .sub-text1 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  font-size: var(--font-size22);
  margin-top: 2rem;
}

/***** 프로토 타입 *****/
.proto {
  min-width: 1400px;
  max-width: 1920px;
}
.proto .proto-img {
  margin-top: 100px;
}
.proto .proto-img figure {
  margin-right: 40px;
}
.proto .proto-img figure figcaption {
  width: 60%;
  height: 44px;
  background-color: #1788e4;
  font-size: var(--font-size24);
  font-weight: 700;
  text-align: center;
  margin: 30px auto 0;
}

/***** 담당 업무 *****/
.work {
  min-width: 1400px;
  max-width: 1920px;
}
.work .work-box {
  margin-left: 30px;
}
.work .work-box .sub-text {
  list-style: disc;
  padding-right: 100px;
}
.work .work-box .sub-text li {
  margin-bottom: 28px;
}

/***** 프로젝트 결과 *****/
.result {
  min-width: 1400px;
  max-width: 1920px;
}
.result .sub-text {
  list-style: disc;
  margin-left: 30px;
}
.result .sub-text li {
  margin-bottom: 28px;
}

/***** 개인 평가 *****/
.rating {
  min-width: 1400px;
  max-width: 1920px;
}
.rating .box1 .sub-text {
  list-style: disc;
  margin-left: 30px;
}
.rating .box1 .sub-text li {
  margin-bottom: 28px;
}
.rating .box2 .sub-text {
  list-style: disc;
  margin-left: 30px;
  padding-right: 100px;
}
.rating .box2 .sub-text li {
  margin-bottom: 28px;
}
.rating .box3 .sub-text {
  list-style: disc;
  margin-left: 30px;
}
.rating .box3 .space {
  margin-bottom: 100px;
}

/***** 개인 리뷰 *****/
.review {
  min-width: 1400px;
  max-width: 1920px;
}
.review .sub-text {
  width: 72%;
  background-color: rgba(255, 255, 255, 0.1);
}
/***** view-project btn ****/
.url {
  display: block;
  width: 28rem;
  height: 6.25rem;
  line-height: 6.25rem;
  border: 5px solid #fff;
  font-size: var(--font-size48);
  background-color: #696969;
  font-weight: 700;
  font-family: var(--ko-font);
  text-align: center;
  margin: 8rem auto;
  transition: 0.3s ease-in-out;
}
.url:hover {
  opacity: 0.5;
}
