@charset "utf-8";

::-webkit-scrollbar {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 17px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  background: var(--point-color);
  border-radius: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  text-transform: uppercase;
  text-align: center;
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 1.7;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

span {
  display: block;
}
