@charset "utf-8";

/* 변수 선언 */
@import url(./variable.css);

::-webkit-scrollbar {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  background: var(--point-color);
  border-radius: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  text-transform: uppercase;
  text-align: center;
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 1.7;
}

.flex {
  display: flex;
}

span {
  display: block;
}

/***** header *****/
header {
  position: fixed;
  width: 100%;
  background-color: var(--color1);
  color: var(--color2);
  z-index: 9999;
}
header .header-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 94%;
  height: 4.375rem;
  margin: 0 auto;
}
/*** header-logo ***/
header .header-wrapper .header-wrapper_logo {
  background: url(./images/top_logo.png) no-repeat 0 50% / contain;
  text-indent: -9999px;
  width: 8.875rem;
  height: 100%;
}
header .header-wrapper .header-wrapper_logo a {
  width: 8.875rem;
  height: 100%;
  display: block;
}
/*** header-menu ***/
header .header-wrapper .header-nav {
  width: 74%;
  font-weight: 700;
  font-size: var(--font-size20);
}
header .header-wrapper .header-nav li {
  width: 20%;
}
header .header-wrapper .header-nav li a {
  display: block;
  height: 4.375rem;
  line-height: 4.375rem;
}
header .header-wrapper .header-nav li a:hover {
  background-color: var(--point-color);
  color: #fff;
  transition: 0.3s linear;
}

/***** contents *****/
/*** swiper ***/

/* swiper-button 
.swiper-button-next,
.swiper-button-prev {
  color: var(--point-color);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.swiper-button-next,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 1);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1rem;
} */
.mySwiper {
  height: 100vh;
  overflow: hidden;
}
.mySwiper .swiper-wrapper {
  width: 100%;
}
.mySwiper .swiper-wrapper .swiper-slide {
  width: 100%;
}
.mySwiper .swiper-wrapper .swiper-slide .swiper_Box {
  position: relative;
  height: 84vh;
  width: 200%;
  margin: 10vw auto;
  background: url(./images/main-bg-01.png) no-repeat 0% 25% / 45%,
    url(./images/main-bg-02.png) no-repeat 10% -42% / 45%,
    url(./images/main-bg-03.png) no-repeat 10% 101% / 45%;
}
/*** swiper-text ***/
.mySwiper .swiper-wrapper .swiper-slide .swiper_Box .swiper_textBox {
  flex-direction: column;
  position: absolute;
  bottom: 50%;
  left: 8%;
  align-items: center;
}
.mySwiper
  .swiper-wrapper
  .swiper-slide
  .swiper_Box
  .swiper_textBox
  .swiper_title {
  font-size: var(--font-size48);
  font-weight: 500;
}
.mySwiper
  .swiper-wrapper
  .swiper-slide
  .swiper_Box
  .swiper_textBox
  .swiper_text {
  font-size: var(--font-size18);
  font-weight: 300;
}
.mySwiper .swiper-wrapper .swiper-slide .swiper_Box .swiper_textBox .bold {
  font-weight: 700;
}
.mySwiper
  .swiper-wrapper
  .swiper-slide
  .swiper_Box
  .swiper_textBox
  .swiper-btn {
  font-size: var(--font-size18);
  font-weight: 400;
  background-color: var(--color3);
  border-radius: 30px;
  color: var(--color1);
  width: 130px;
  height: 40px;
  line-height: 40px;
  margin-top: 1vw;
}
.mySwiper
  .swiper-wrapper
  .swiper-slide
  .swiper_Box
  .swiper_textBox
  .swiper-btn:hover {
  background-color: var(--point-color);
  transition: 0.3s linear;
}
/*** swiper-img ***/
.mySwiper .swiper-wrapper .swiper-slide .swiper_Box .swiper_img1 {
  width: 100vw;
  height: 84vh;
  background: url(./images/main-01.png) no-repeat 80% / 50%;
}
.mySwiper .swiper-wrapper .swiper-slide .swiper_Box .swiper_img2 {
  width: 100vw;
  height: 84vh;
  background: url(./images/main-02.png) no-repeat 80% / 40%;
}

/***** miniBox *****/
.miniBox {
  width: 100%;
  position: relative;
  min-width: 1400px;
}
.miniBox .miniBox-wrapper {
  width: 70%;
  height: 200px;
  position: absolute;
  top: -12%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: var(--point-color);
  color: #fff;
  z-index: 9;
  justify-content: center;
  align-items: center;
}
.miniBox .miniBox-wrapper .box {
  margin: auto 130px;
}
.miniBox .miniBox-wrapper .box a {
  display: block;
  transition: 0.2s linear;
}
.miniBox .miniBox-wrapper .box a svg {
  width: 34px;
  height: 34px;
  margin-bottom: 8px;
}
.miniBox .miniBox-wrapper .box a .text {
  text-align: center;
  font-size: var(--font-size18);
  font-weight: 400;
}
.miniBox .miniBox-wrapper .box a:hover {
  transform: translateY(-10%);
}

/***** main-box1 *****/
.main-box1 {
  width: 100%;
  margin-top: 120px;
}
.main-box1 .big {
  justify-content: center;
  align-items: center;
}
.main-box1 .txt-box {
  width: 44%;
}
.main-box1 .main2-img {
  width: 34%;
}
.main-box1 .txt-box h3 {
  font-size: var(--font-size48);
  color: var(--color3);
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.main-box1 .txt-box p {
  font-size: var(--font-size18);
  color: var(--color3);
  font-weight: 400;
  margin-bottom: 20px;
}
.main-box1 .txt-box a {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.main-box1 .txt-box a svg {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}
.main-box1 .txt-box a .text {
  transition: 0.2s linear;
}
.main-box1 .txt-box a .text:hover {
  color: var(--point-color);
  transform: translateY(-14%);
}

/***** main-box2 *****/
.main-box2 {
  width: 100%;
  background-image: linear-gradient(
      rgba(24, 196, 255, 0.7),
      rgba(24, 196, 255, 0.7)
    ),
    url(./images/bg.jpg);
  background-size: cover;
  background-position: center center;
  margin-top: 100px;
}
.main-box2 .text-box {
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  color: var(--color1);
  margin: 0 auto;
  padding: 120px 0;
  text-align: left;
}
.main-box2 .text-box img {
  width: 100px;
  height: 100px;
  display: block;
}
.main-box2 .text-box li {
  width: 100%;
  padding: 0 100px;
}
.main-box2 .text-box li .text {
  font-size: var(--font-size56);
  font-weight: 700;
  width: 100%;
  height: 100%;
}
.main-box2 .text-box li p {
  font-size: var(--font-size18);
  font-weight: 400;
}

/***** main-box3 *****/
.main-box3 {
  background-color: var(--color6);
  padding: 120px 0;
}
.main-box3 h3 {
  font-size: var(--font-size48);
  font-weight: 700;
  color: var(--color3);
  margin-bottom: 10px;
}
.main-box3 p {
  font-size: var(--font-size20);
  color: var(--color3);
  margin-bottom: 60px;
}
.main-box3 .youtube {
  aspect-ratio: 16 / 9;
  width: 66%;
}
.main-box3 .vod-list {
  justify-content: center;
  width: 68%;
  margin: 0 auto;
}
.main-box3 .vod-list li {
  margin: 20px;
}
.main-box3 .vod-list img {
  height: 100%;
}
.vod-list figcaption {
  color: var(--color3);
  font-size: var(--font-size18);
  font-weight: 400;
}
/***** main-box4 *****/
.main-box4 {
  width: 100%;
  height: auto;
  margin-top: 5.714vw;
}
.main-box4 h3 {
  font-size: var(--font-size48);
  font-weight: 500;
  color: var(--color3);
  margin-bottom: 44px;
}
.main-box4 .question-box li {
  text-align: left;
  padding: 20px;
  width: 70%;
  margin: 0 auto 25px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  font-size: var(--font-size22);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main-box4 .question-box li::after {
  content: "\e5cf";
  font-family: "Material Symbols Outlined";
  position: absolute;
  top: 50px;
  right: 40px;
  transform: translateY(-50%);
}
.main-box4 .question-box li.rotate::after {
  transform: translateY(-50%) rotate(180deg);
}
.main-box4 .question-box .question-wrapper {
  margin-top: 30px;
  display: none;
}

/***** 배너 *****/
.main-box5 {
  background: url(./images/banner.png) no-repeat center center / cover;
  width: 100%;
  height: 12vh;
  max-width: 1400px;
  margin: 7.143vw auto;
  align-items: center;
  justify-content: center;
}
.main-box5 h4 {
  font-size: var(--font-size38);
  color: var(--color1);
  font-weight: 700;
  text-align: center;
}

/***** 지도 *****/
.main-box6 .location-map {
  width: 100%;
  aspect-ratio: 3 / 1;
  z-index: 999;
}

/***** side-menu *****/
.side-menu {
  position: fixed;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
}
.side-menu .side-bar {
  width: 100%;
  background-color: var(--color8);
  border-radius: 55px;
  box-shadow: 2px 1px 25px rgba(0, 0, 0, 0.35);
  padding: 35px 0;
}
.side-menu .side-bar li {
  color: var(--color1);
  margin: 20px;
}
.side-menu .side-bar li a {
  display: block;
  transition: 0.3s linear;
  margin-bottom: 20px;
}
.side-menu .side-bar li a span svg {
  width: 32px;
  height: 100%;
  margin-bottom: 8px;
}
.side-menu .side-bar li a:hover {
  transform: translateY(-10%);
}
.side-menu .arrow {
  display: block;
  background-color: var(--color1);
  border-radius: 50%;
  margin: 20px auto;
  width: 90px;
  height: 90px;
}
.side-menu .arrow img {
  display: inline-block;
  width: 35px;
  margin: 30px auto;
}
.side-menu .arrow:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/***** footer *****/
footer {
  width: 100%;
  background-color: var(--color4);
}
footer .f-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 94%;
  margin: 0 auto;
  height: 12rem;
}
footer .privacy {
  text-align: center;
  color: var(--color1);
  font-weight: 400;
  font-size: var(--font-size14);
  text-transform: lowercase;
  text-transform: capitalize;
}
footer h1 {
  background: url(./images/footer_logo.png) no-repeat 0 50% / contain;
  text-indent: -9999px;
  width: 180px;
  height: 100%;
}
.btn {
  display: block;
  font-size: var(--font-size20);
  color: var(--color1);
  background-color: var(--point-color);
  width: 13rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 30px;
  margin-right: 120px;
  transition: 0.3s linear;
}
.btn:hover {
  color: var(--point-color);
  background-color: var(--color1);
}
