@charset "utf-8";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f0f0f0;
  color: #2a2a2a;
  line-height: 1;
  font-family: "lato", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

span {
  display: block;
}

.btn-style {
  display: block;
  width: 100px;
  height: 24px;
  border-radius: 30px;
  background: #2a2a2a;
  color: #f0f0f0;
  font-size: 0.7rem;
  text-align: center;
  line-height: 24px;
  position: relative;
}
.btn-text {
  display: block;
  width: 138px;
  height: 24px;
  border-radius: 30px;
  background: #2a2a2a;
  color: #f0f0f0;
  font-size: 0.7rem;
  text-align: center;
  line-height: 24px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.1s;
}
.btn-style:hover .btn-text {
  opacity: 1;
}
