@charset "utf-8";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f0f0f0;
  color: #2a2a2a;
  line-height: 1;
  font-family: "lato", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

span {
  display: block;
}

/***** nav *****/
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f0f0f0;
  z-index: 99999;
}
.nav .nav-wrapper {
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-wrapper .n-logo .n-svg {
  width: 40px;
  height: 40px;
}
.nav .nav-wrapper .n-txt {
  position: absolute;
  top: 30px;
  left: 82px;
  letter-spacing: -0.1rem;
  font-weight: 300;
}
.nav .nav-wrapper .menu-btn {
  font-weight: 300;
  font-size: 1.2rem;
  position: absolute;
  top: 32px;
  right: 60px;
  cursor: pointer;
  display: none;
}
.nav .nav-wrapper .menu {
  font-weight: 300;
}
.nav .nav-wrapper .menu li {
  margin-left: 70px;
}
.nav .nav-wrapper .menu li a {
  display: block;
  position: relative;
}
.nav .nav-wrapper .menu li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transition: 0.2s linear;
  opacity: 0;
  transform: scale(0);
}
.nav .nav-wrapper .menu li a:hover:after {
  opacity: 1;
  transform: scale(1);
}

/***** header *****/
.header {
  width: 100%;
  padding: 0 2%;
}
.header .h-title {
  margin-top: 100px;
  font-size: 8rem;
  letter-spacing: -0.4rem;
}
.header .h-small {
  margin-top: 20px;
  font-size: 1.3rem;
  letter-spacing: -0.1rem;
}
.header .h-title .h-wrapper .h-line {
  display: inline-block;
}
.animate-up {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.animate-up.show {
  opacity: 1;
  transform: translateY(0);
}

/***** content *****/
/***** lens *****/
.lens {
  margin: 0 auto;
  padding: 0 2%;
  width: 100%;
}
.lens .lens-wrapper {
  margin-top: 160px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2vw;
}
.lens .lens-wrapper .lens-box {
  position: relative;
}
.lens .lens-wrapper .lens-box .lens-inner {
  width: 400px;
  height: 500px;
  overflow: hidden;
  background-color: #fff;
  transition: border-radius 0.6s linear;
}
.lens .lens-wrapper .lens-box .lens-inner .lens-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s linear;
}
.lens .lens-wrapper .lens-box .lens-inner:hover {
  border-radius: 10%;
}
.lens .lens-wrapper .lens-box .lens-inner:hover .lens-img {
  transform: scale(1.2);
}
.lens .lens-wrapper .lens-box .lens-inner .lens-num {
  width: 40px;
  font-size: 0.9rem;
  transform: rotate(-90deg);
  font-weight: 300;
  position: absolute;
  top: 5px;
  right: -9px;
}
.lens .lens-wrapper .lens-box .lens-line {
  width: 400px;
  height: 1px;
  background-color: #2a2a2a;
  margin: 30px 0 20px;
}
.lens .lens-wrapper .lens-box .lens-text1 {
  width: 400px;
  font-size: 0.9rem;
  letter-spacing: 0.04rem;
  justify-content: space-between;
}
.lens .lens-wrapper .lens-box .lens-text2 {
  font-size: 1.7rem;
  letter-spacing: 0.06rem;
  margin-top: 10px;
}
.img1 {
  background: url(./images/Planar.png) no-repeat center / 130%;
}
.img2 {
  background: url(./images/Sonnar.png) no-repeat center / 130%;
}
.img3 {
  background: url(./images/Distagon2.8-25.png) no-repeat center / 130%;
}
.img4 {
  background: url(./images/Distagon1.4-35.png) no-repeat center / 130%;
}
.img5 {
  background: url(./images/Biogon2.8-21.png) no-repeat center / 130%;
}
.img6 {
  background: url(./images/Biogon2.8-25.png) no-repeat center / 130%;
}
.img7 {
  background: url(./images/Biogon2.8-28.png) no-repeat center / 130%;
}
.img8 {
  background: url(./images/Biogon2.8-35.png) no-repeat center / 130%;
}

/***** about *****/
.about {
  width: 100%;
  margin: 180px auto 120px;
  padding: 0 2%;
}
h4.title {
  font-size: 5.75rem;
  letter-spacing: -0.5rem;
}
.about .about-wrapper {
  margin-top: 80px;
}
.about .about-wrapper .about-text {
  font-family: "SpoqaHanSansNeo", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  font-size: 1.6rem;
  width: 50%;
  line-height: 1.4;
  font-weight: 300;
}
.about .about-wrapper .about-inner {
  flex-direction: column;
}
.about .about-wrapper .about-inner .about-text {
  font-family: "SpoqaHanSansNeo", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  width: 100%;
  margin-bottom: 60px;
  line-height: 1.6;
}
.btn-style {
  display: block;
  width: 140px;
  height: 24px;
  border-radius: 30px;
  background: #2a2a2a;
  color: #f0f0f0;
  font-size: 0.875rem;
  text-align: center;
  line-height: 24px;
  position: relative;
}

.btn-text {
  display: block;
  width: 140px;
  height: 24px;
  border-radius: 30px;
  background: #2a2a2a;
  color: #f0f0f0;
  font-size: 0.875rem;
  text-align: center;
  line-height: 24px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.1s;
}

.btn-style:hover .btn-text {
  opacity: 1;
}

/***** video *****/
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-container .mp4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: width 0.8s, height 0.8s;
}

/***** featured *****/
.featured {
  width: 100%;
  margin-top: 180px;
  padding: 0 2%;
}
.featured .featured-wrapper {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4.6vw;
  margin-top: 100px;
}
.featured .featured-wrapper .featured-inner {
  margin-right: 30px;
}
.featured .featured-wrapper .featured-inner .inner-title {
  font-size: 2.8rem;
}
.featured .featured-wrapper .featured-inner .inner-text {
  font-family: "SpoqaHanSansNeo", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  margin: 30px 0;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
}
.featured .featured-wrapper .featured-inner .inner-text span {
  margin: 20px 0;
}

.f-space {
  margin-top: 57px;
}

/***** swiper *****/
.swiper {
  margin: 200px 0;
  height: 78vh;
  overflow: hidden;
  padding: 0 2%;
  position: relative;
}
.swiper .swiper-wrapper {
  width: 800%;
}
.swiper .swiper-wrapper .swiper-slide {
  width: 100%;
}
.swiper .swiper-wrapper .swiper-slide .swiper-text {
  width: 430px;
  height: 40px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 6%;
  right: -11%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
}
.autoplay-progress {
  position: absolute;
  top: 10%;
  right: 3%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-size: 2rem;
  color: #f0f0f0;
}
/*** swiper-img ***/
.swiper-img1 {
  background: url(./images/swiper-img1.png) no-repeat center / contain;
}
.swiper-img2 {
  background: url(./images/swiper-img2.png) no-repeat center / contain;
}
.swiper-img3 {
  background: url(./images/swiper-img3.png) no-repeat center / contain;
}
.swiper-img4 {
  background: url(./images/swiper-img4.png) no-repeat center / contain;
}
.swiper-img5 {
  background: url(./images/swiper-img5.png) no-repeat center / contain;
}
.swiper-img6 {
  background: url(./images/swiper-img6.png) no-repeat center / contain;
}
.swiper-img7 {
  background: url(./images/swiper-img7.png) no-repeat center / contain;
}
.swiper-img8 {
  background: url(./images/swiper-img8.png) no-repeat center / contain;
}

/***** footer *****/
.footer {
  padding: 0 2%;
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  display: none;
}
.footer-show {
  display: block;
}
.footer .f-text {
  font-size: 1.25rem;
  letter-spacing: -0.1rem;
}
.footer .f-wrapper1 .f-textBox1 .f-title {
  font-size: 1.6rem;
  margin: 30px 0;
}
.footer .f-wrapper1 .f-textBox2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 80px;
  margin: 30px 0 0 460px;
  letter-spacing: -0.08rem;
}
.footer .f-wrapper1 .f-textBox2 .sub-title {
  font-size: 1.2rem;
  color: #757575;
}
.footer .f-wrapper1 .f-textBox2 .sub-text {
  font-size: 1.3rem;
  margin-top: 18px;
  line-height: 1.2;
}
.f-ko {
  font-family: "SpoqaHanSansNeo", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}
.footer .f-wrapper2 {
  font-size: 1rem;
  margin: 160px 0 30px;
  justify-content: space-between;
}
.footer .f-wrapper2 .copy {
  letter-spacing: -0.1rem;
}
.footer .f-wrapper2 .f-sns a {
  margin-left: 120px;
  letter-spacing: -0.09rem;
  display: block;
  position: relative;
}
.footer .f-wrapper2 .f-sns a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transition: 0.2s linear;
  opacity: 0;
  transform: scale(0);
}
.footer .f-wrapper2 .f-sns a:hover:after {
  opacity: 1;
  transform: scale(1);
}
