@charset "utf-8";

/***** nav *****/
.nav .nav-wrapper .menu li a {
  font-size: 1rem;
}

/***** header *****/
.header .h-title {
  font-size: 4rem;
  letter-spacing: -0.3rem;
}
.header .h-small {
  font-size: 1.2rem;
  letter-spacing: -0.09rem;
}

/***** content *****/
/***** lens *****/
.lens .lens-wrapper {
  grid-template-columns: 1fr 1fr;
  gap: 8vw;
}
.lens .lens-wrapper .lens-box .lens-inner {
  width: 300px;
  height: 400px;
}
.lens .lens-wrapper .lens-box .lens-inner .lens-num {
  right: -32px;
}
.lens .lens-wrapper .lens-box .lens-line {
  width: 300px;
}
.lens .lens-wrapper .lens-box .lens-text1 {
  width: 300px;
}

/***** about *****/
h4.title {
  font-size: 3.8rem;
  letter-spacing: -0.3rem;
}
.about .about-wrapper .about-text {
  font-size: 1.6rem;
}
.about .about-wrapper .about-inner .about-text {
  font-size: 1.2rem;
}

/***** featured *****/
.featured .featured-wrapper .featured-inner .inner-title {
  font-size: 2.4rem;
}
.featured .featured-wrapper .featured-inner .inner-text {
  font-size: 1.2rem;
}
.f-space {
  margin-top: 82px;
}
.f-space1 {
  margin-top: 20px;
}

/***** swiper *****/
.swiper {
  margin: 80px 0;
  height: 30vh;
}
.swiper .swiper-wrapper .swiper-slide .swiper-text {
  width: 328px;
  font-size: 1rem;
  right: -20%;
}
.autoplay-progress {
  font-size: 1.4rem;
}

/***** footer *****/
.footer .f-wrapper1 .f-textBox1 .f-title {
  width: 70%;
  font-size: 1.2rem;
}
.footer .f-wrapper1 .f-textBox2 {
  font-size: 1.2rem;
}
.footer .f-wrapper2 .copy {
  font-size: 1rem;
}
.footer .f-wrapper1 .f-textBox2 {
  margin: 48px 0;
}
