@charset "utf-8";

/***** title *****/
.title .title-img {
  background: url(./images/title-img.png) no-repeat 50% 50% / cover;
}

/***** style *****/
/*** font ***/
.style .font-inner {
  font-family: "Lato", "NotoSansKR";
  font-size: var(--font-size22);
  margin: 2rem 100px 0 0;
}
.style .font-inner1 {
  font-family: "SpoqaHanSansNeo", "NotoSansKR";
  font-size: var(--font-size22);
  margin: 2rem 100px 0 0;
}
.style .box-list {
  margin-top: 48px;
}
.ass-box {
  margin-right: 100px;
}
.light,
.regular {
  font-weight: 300;
}

/*** color ***/
.style .box-wrapper {
  margin-top: 2rem;
}
.style .box-wrapper .box-inner2 {
  margin-left: 4rem;
}
.style .box-wrapper .ass-title2 {
  font-size: var(--font-size26);
}
.color {
  width: 6.25rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-top: 2rem;
  font-size: var(--font-size16);
  text-align: center;
  margin-right: 1rem;
}
.color1 {
  background-color: #141e8c;
}
.color2 {
  background-color: #f0f0f0;
  color: #000;
}
.color3 {
  background-color: #2a2a2a;
  border: 1px solid #fff;
}
.color4 {
  background-color: #000;
  border: 1px solid #fff;
}

/***** publishing *****/
.publishing {
  min-width: 1400px;
  max-width: 1920px;
}
.publishing .box-wrapper {
  margin-left: 30px;
}
.publishing .box-wrapper .box-inner {
  list-style: disc;
  margin-right: 200px;
}
.space {
  margin-bottom: 80px;
}
.accent {
  background-color: var(--gray-color);
}

/***** problem *****/
.problem {
  min-width: 1400px;
  max-width: 1920px;
}
h6.sub-title {
  background-color: var(--gray-color);
  font-size: var(--font-size22);
  font-weight: 700;
  text-align: center;
  margin-top: 5rem;
}
.bg1 {
  width: 28rem;
  height: 3.8rem;
  line-height: 3.8rem;
}
.bg2 {
  width: 14rem;
  height: 3.8rem;
  line-height: 3.8rem;
}
.bg3 {
  width: 18rem;
  height: 3.8rem;
  line-height: 3.8rem;
}
