@charset "utf-8";

/* 변수 선언 */
@import url(../common/style/variable.css);

body {
  background-color: #000;
  font-family: "NotoSansKR", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  color: #fff;
  line-height: 2;
}

span {
  display: block;
}

/***** title *****/
.title {
  width: 100%;
}
.title .title-wrapper {
  font-size: var(--font-size164);
  color: var(--point-color);
  font-family: var(--main-font);
  padding: 2rem;
}
.title .title-img {
  width: 96%;
  height: 754px;
  outline: 5px solid #fff;
  background: url(./images/title-img.png) no-repeat 50% 50% / cover;
  padding: 0 4%;
  margin: 0 auto;
  min-width: 1400px;
  max-width: 1920px;
}
.title .title-img img {
  width: 1836px;
  height: 754px;
}
.title .intro {
  font-size: var(--font-size22);
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 6.25rem auto;
  min-width: 1400px;
  max-width: 1920px;
}
.title .intro .intro-text {
  width: 38vw;
  font-size: var(--font-size26);
}
.title .intro .intro-list1 {
  color: #696969;
  font-weight: 700;
}
.title .intro .intro-list1 li,
.title .intro .intro-list2 li {
  margin-bottom: 1rem;
}
.title .intro .intro-list2 {
  margin-left: -200px;
}
.line::before {
  display: inline-block;
  content: "";
  height: 1rem;
  width: 0.1rem;
  background-color: #fff;
  margin: 0 1rem;
}
.line::after {
  display: inline-block;
  content: "";
  height: 1rem;
  width: 0.1rem;
  background-color: #fff;
  margin: 0 1rem;
}
