@charset "utf-8";

body {
  scroll-behavior: smooth;
  overflow: visible;
  overscroll-behavior: none;
}

/* 스크롤바 */
::-webkit-scrollbar {
  display: none;
}

/* animation */
@keyframes down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes right-left {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}
